### Folders
.idea
/vendor/

### Files
.env
/composer.phar

### TYPO3 instance
/var/*
!/var/labels
/vendor
/web/*
!/web/.htaccess
!/web/typo3conf
/web/typo3conf/*
!/web/typo3conf/LocalConfiguration.php
!/web/typo3conf/AdditionalConfiguration.php
